body {
  padding-top: 50px;
  font-family: Georgia, serif, sans-serif, Arial;
}
h1,h2,h3,h4,h5,ul,li,a,.form-control{
	font-family: Arial, Georgia, serif, sans-serif;
}
.navbar-default{
	background-color:#f3f3f3;background-image:-moz-linear-gradient(#f9f9f9, #f3f3f3);background-image:-webkit-linear-gradient(#f9f9f9, #f3f3f3);background-image:linear-gradient(#f9f9f9, #f3f3f3);background-repeat:repeat-x
}
a.navbar-brand{
	font-weight: 600;
	color: #222 !important;
}
a.navbar-brand :hover{
	color: #000;
}
.news-head{
	width: 100%;
	height: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.news-body{
	margin-bottom: 10px;
	margin-top: 30px;
	padding-bottom: 10px;
}
.news-body img{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
#livefyre-comments{
	border-top: 1px solid #eee;
	padding-top: 20px;
}
img.fyre-logo-drop{
	display: none;
}
.news-body p{
	text-align: justify;
}
.nav-social{
	margin-left: auto;
	margin-right: auto;
	height: 30px;
}
.social-button {
    float: left;
    height: 20px;
    width: 100px;
    position: relative;
}
.featured{
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
.post{
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-top: 1px solid #eee;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
.post:nth-child(2n+1){
	background-color: #f5f5f5;
}
.post_meta{
    border-left: 3px solid #222;
    padding-left: 10px;
}
.item img{
	width: 100%;
	height: auto;
}
.post h1, .post h2, .post h3, .post h4, .post h5{
	padding-top: 0px;
	margin-top: 0px;
}
.post .well *{
	text-transform: capitalize;
}
h3.sideheading{
	font-size: 18px;
}
.sidebar-widget{
	margin-top: 25px;
	height: auto;
}
article p{
	text-align: justify;
}
article aside{
	font-size: 12px;
	font-weight: bold;
}
.footer{
	border-top: 1px solid #eee;
	padding-top:40px;
	padding-bottom: 30px;
}
.footer .col-md-4{
    text-align: center;
}
.footer img.socialbutton_footer{
    width: 30px;
    height: 30px;
}
.search-results{
	padding:0px;
	margin:0px;
}
.gsc-control-cse, .gsc-url-top, .gsc-thumbnail-inside{
	padding:0px !important;
}